# PostgreSQL
# TO-DO mask all sensitive data like tokens, users and passwords, ofc.
DB_HOST=localhost
DB_PORT=5432
DB_USER=nfe
DB_PASSWORD=nfepass
DB_NAME=nfe_tracker
TELEGRAM_TOKEN=8624690983:AAFUPP_dyvL8auO8nZmuB2OVsE6KwfvQcuo